<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        ul{
            background-color: grey;
            margin:0;
            padding: 0;
            border:5px solid black; 
            
            
            
        }
        li {
            display:inline-block;
            color:aliceblue;
            
        
            
        
    
        }
        a{
            text-decoration: none;
            text-align: center;
            color:white;
            font-size: 20px;
            padding:0 20px;
            border-left: 2px solid black;
            
    
        }
        #format{
            float:right;
            background-color: red;
            color:black;
    
    
        }
    
        </style>
</head>
<body bgcolor="yellow">
    <ul>
        <li><a href="/admin/sign-in">Home</a></li>
        <li><a href="/product/add-product">Add product</a></li>
        <li><a href="/product/view-product">view product</a></li>
        <li><a href="/category/add-category">Add Category</a></li>
        <li><a href="/category/view-category">view category</a></li>
        <li id="format" ><a href="#">EjsApp</a></li>
        </ul>
    
    
</body>
</html>